:root {
  --main-text-color: #fff;
  --secondary-text-color: #000;
  --main-bg-color: #000;
  --secondary-bg-color: #9e7000;
  --main-text-size: var(--main-text-size);
}

* {
  margin: 0;
  padding: 0;
  font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;
  color: var(--main-text-color);
}

html,
body {
  margin: 0;
  min-height: 100%;
  overflow: hidden;
}

.success,
.buy__button,
.bat__button,
.dark-link,
.logo-c,
.a__button,
footer,
.sub__button,
.sign__button,
.cta,
.nav-links ul li a,
.logo {
  filter: brightness(120%);
}

.success,
.buy__button,
.bat__button,
.movieinfo,
.dark-link,
.form,
.container p,
.a__button,
.about,
a,
.info,
footer a,
.socials,
.sub__button,
.sign__button,
.cta,
button,
.nav-links ul li a {
  color: var(--main-text-color);
}

.nav-links ul li a,
button,
.buy__button,
.bat__button,
.dark-link,
.sub__button,
.cta,
.info,
.about,
.a__button,
.container p,
.movieinfo,
.bat__button {
  font-size: var(--main-text-size);
}

.cta,
.sub__button,
.sign__button,
footer,
.a__button,
.dark-link,
.bat__button,
.buy__button {
  background-color: var(--secondary-bg-color);
}

a {
  text-decoration: none;
}

.buy__button,
.bat__button,
.dark-link,
.a__button,
.sub__button,
.sign__button,
.cta,
.banner {
  position: relative;
}

.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.30)), url(../products/darkened-background.jpeg);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.header {
  background-color: var(--main-bg-color);
  height: 100vh;
}

.logo {
  max-width: 300px;
  position: absolute;
  top: 4%;
  left: 5%;
  z-index: 1;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  font-size: 16px;
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
}

.nav-links ul li a {
  text-decoration: none;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: var(--main-text-color);
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

button {
  border-radius: 10px;
}

.buy__button,
.bat__button,
.dark-link,
.sub__button,
.cta {
  display: block;
  border: 1px solid var(--main-bg-color);
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  border-radius: 10px;
}

.spacing-top {
  margin-top: 11.5em;
}

.cta {
  padding: 12px 34px;
  margin: 142px 0px -100px 90px;
  width: 20%;
}

.sub__button,
.sign__button {
  padding: -0.5px;
}


.sign__button {
  display: block;
  top: -25px;
  margin-left: 11em;
  text-align: center;
  border-radius: 10px;
  width: 12%;
}

.sub__button {
  margin-top: 15px;
  text-align: center;
  width: 16%;
  margin-left: -0.1em;
}

.cta:hover,
.a__button:hover,
.sub__button:hover,
.sign__button:hover,
.dark-link:hover,
.bat__button:hover,
.buy__button:hover {
  border: 1px solid var(--main-text-color);
  background: var(--main-bg-color);
  transition: 0.5s;
}

.nav-links ul li {
  display: block;
}

.nav-links ul {
  display: inline-flex;
  padding: -1em;
}

.nav-links {
  position: absolute;
  width: 250px;
  font-size: larger;
  top: 0;
  right: 0;
  text-align: left;
  z-index: 2;
  transition: 1s;
}

.tv-home {
  width: 250px;
  position: fixed;
  top: -5%;
  right: 20%;
}

.tv-left {
  width: 250px;
  position: fixed;
  top: -5%;
  margin-right: 15%;
}

/*footer*/

footer {
  height: 30px;
  position: fixed;
  width: 100%;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer div {
  padding-left: 1em;
  padding-right: 1em;
}

.socials {
  font-size: 16px;
  width: 10px;
  height: 10px;
}

.socials:hover {
  cursor: pointer;
}

footer a {
  font-size: 16px;
  margin-top: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

footer a:hover {
  cursor: pointer;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/*contact page*/

.info {
  font-size: 22px;
  margin: 0.5em;
  margin-left: 550px;
  margin-top: 150px;
  float: right;
  padding: 0.5em;
}

.tv-left {
  right: 35%;
  margin-top: 70px;
  float: right;
  padding: 1em;
}

/*about page*/

.about {
  margin-top: 80px;
  margin-left: 35px;
}

.a__button {
  margin-top: 1em;
  display: block;
  padding: 5px 34px;
  width: 20%;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  border-radius: 10px;
}

.logo_a {
  display: none;
}

/*signin page*/

.form__input,
.form__input--medium,
.form__input--smaller {
  display: block;
  color: var(--main-bg-color);
}

.form__input {
  font-size: medium;
  margin-bottom: 0.1em;
  border-radius: 10px;
  width: 30%;
}

label {
  display: block;
  margin-bottom: 0.5em;
  width: 100%;
  max-width: 150px;
  /* Adjust the maximum width as needed */
}

.form__input--medium {
  width: 100%;
  max-width: 300px;
}

.form__input--smaller {
  margin-bottom: 0.5em;
  width: 70%;
  border-radius: 10px;
}


.form__a {
  margin-top: 110px;
  margin-left: 80px;
}


/*Categories Page*/

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

}

#test {
  display: flex;
  flex-direction: row;
  margin-top: 10%;
}

.container {
  min-width: 100%;
  min-height: 100%;
  margin-left: 2%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 4.5em;
}

.container-child {
  padding: 1.5em;
  text-align: center;
  height: 900px;
  border: 2px solid var(--secondary-bg-color);
  ;
}


.container-img {
  max-width: 100%;
  max-height: 100%;
}

/* Checkout page */

.form {
  margin-top: 130px;
  margin-left: 80px;
}


.flex {
  width: 70%;
  margin: 0 auto;
  font-size: medium;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.logo-c {
  max-width: 300px;
  position: absolute;
  top: 4%;
  left: 5%;
  z-index: 1;
}

.box {
  width: 350px;
  float: right;
  margin-right: 5.5em;
  margin-top: 5em;
}

.upper-box {
  width: 100%;
  padding: 1em;
  text-align: center;
}


.bottom-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bottom-box div {
  padding: 0.5em;
}


.dark-link {
  padding: 6px 34px;
  margin-top: 2em;
  width: 100%;
}


.box-img {
  margin-top: -16.9px;
  margin-left: -4px;
  width: 150px;
}

/*movieinfo page*/

.movieinfo {
  margin-top: 80px;
  margin-left: 50px;
  padding: 1em;
  width: 55%;
}

.logo-i {
  display: none;
}

.info-img {
  width: 200px;
  position: fixed;
  top: 70px;
  left: 65%;
  bottom: 5%;
}

.bat__button {
  padding: 8px 34px;
  width: 35%;
  margin-top: 0.5em;
  margin-left: -0.8px;
}

.buy__button {
  padding: 6px 34px;
  width: 20%;
  border-radius: 10px;
  margin-top: -0.1em;
}

/* Success Page */

.tv__success {
  width: 250px;
  position: fixed;
  left: 65%;
  top: -5%;
}

.success {
  margin-top: 148px;
  margin-left: 50px;
}

.title {
  padding-left: 8%;
}

h1 {
  font-size: xx-large;
}

.shop {
  padding-top: 1em;
  padding-left: 8%;
  font-size: medium;
}

/* Media queries */


/* For small tablets */
@media (max-width: 768px) {
  .movieinfo {
    margin-top: 15em;
    filter: brightness(120%);
  }

  .container {
    min-height: 50%;
  }

  .cta,
  .tv {
    margin-top: 12em;
  }

  .form__a,
  .form,
  .box,
  .success,
  .tv__success,
  .tv-left,
  .info,
  .about,
  .container {
    margin-top: 18em;
  }
}

.about {
  z-index: 1;
}

/* For smartphones */
@media (max-width: 420px) {
  .flex {
    margin-bottom: -50%;
    font-size: medium;
    flex-direction: column;
  }

  footer,
  .success,
  .bat__button,
  .movieinfo,
  .form,
  .form__a,
  .box,
  .about,
  .info,
  .sub__button,
  .sign__button,
  .buy__button,
  .cta,
  .logo {
    filter: brightness(120%);
  }

  .logo {
    display: flex;
    width: 100%;
    margin-top: 1em;
    margin-left: 0.5em;
  }

  .cta {
    top: 5em;
    left: 10%;
    width: 60%;

  }

  .cta,
  .buy__button {
    font-size: larger;
    margin: 8%;
  }

  .a__button {
    width: 100%;
  }

  .buy__button {
    top: -1em;
    right: 10%;
    width: 100%;
  }

  .sub__button,
  .sign__button {
    font-size: 18px;
    width: 12%;
    text-align: center;
  }

  .sub__button {
    width: 15%;
  }

  .sign__button {
    top: -11%;
    margin-left: 20%;
  }

  .info {
    margin: 8%;
    margin-top: 10em;
    margin-left: auto;
    width: 100%;
  }

  .about {
    margin-top: 54%;
    margin-right: 15%;
  }

  .box {
    margin-top: -17em;
    width: 100%;
  }

  .spacing-top {
    margin-top: 20em;
  }

  .tv {
    background-color: var(--main-text-color);
    margin-top: 14em;
    left: 0.3em;
    width: 350px;
    position: fixed;
  }

  .tv-left,
  .tv__success,
  .tv {
    display: none;
  }

  .tv-home {
    margin-top: 8em;
  }

  h1,
  .title,
  .shop {
    margin-top: 0.6em;
  }

  .form {
    margin-top: 25em;
    z-index: -1;
  }

  .form__a {
    color: var(--main-text-color);
    margin-top: 300px;
    margin-left: 30px;
    width: 200%;
  }

  .movieinfo {
    margin-top: 12em;
    margin-left: 5%;
    z-index: 1;
    font-size: 12px;
    width: 90%;
  }

  .bat__button {
    margin-top: 30em;
    right: -10%;
    width: 80%;
  }

  .info-img {
    margin-top: 15em;
    left: 5em;
  }

  .success {
    margin-top: 5em;
    font-size: 40px;

  }

  .shop,
  .title {
    margin-left: -10%;
  }

  .container {
    margin-top: 15em;
    flex-direction: column;
    position: absolute;
    width: 650px;
    height: 80px;
    left: 20px;
    overflow-x: scroll;
  }

  .header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url(../products/Square_Eyes_Cover4.jpeg);
  }
}

.header,
.container-child {
  display: flex;
}

.header {
  flex-direction: column;
}

.container-child {
  flex-direction: row;
}

.loader {
  margin: 0 auto;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #9e7000;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}