* {
  margin: 0;
  padding: 0;
  font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;
  
}

html,
body {
  margin: 0;
  min-height: 100%;
  overflow: hidden;
}



a {
  text-decoration: none;
  color: #ffffff;
}

.header {
  background-image: url(../products/movie-theater-compressed.jpg);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
}

.logo {
  max-width: 300px;
  position: absolute;
  top: 4%;
  left: 5%;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
}

.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #fffbf8;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

button {
  border-radius: 10px;
  color: white;
  font-size: 15px;
}

.cta {
  display: block;
  border: 1px solid black;
  background-color: #9e7000;
  color: #ffffff;
  padding: 12px 34px;
  position: relative;
  margin: 142px 0px -100px 90px;
  width: 20%;
  cursor: pointer;
  font-size: 15px;
  text-decoration: none;
  text-align: center;
  border-radius: 10px;
}

.cta:hover {
  border: 1px solid #fffbf8;
  background: #000000;
  transition: 0.5s;
}

.nav-links ul li {
  display: block;
}

.nav-links ul {
  display: inline-flex;
  padding: -1em;
}

.nav-links {
  position: absolute;
  width: 200px;
  top: 0;
  right: 0;
  text-align: left;
  z-index: 2;
  transition: 1s;
}

.tv {
  width: 250px;
  position: fixed;
  top: -5%;
  right: 20%;
}
.tv-left {
  width: 250px;
  position: fixed;
  top: -5%;
  right: 65%;
}

/*footer*/

footer {
  background-color: #9e7000;
  height: 30px;
  position: fixed;
  width: 100%;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer div {
  padding-left: 1em;
  padding-right: 1em;
}
.socials {
  font-size: 12px;
  color: #fff;
  width: 10px;
  height: 10px;
}
.socials:hover {
  cursor: pointer;
}
footer a {
  font-family: Poppins Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  color: #fff;
  margin-top: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
footer a:hover {
  cursor: pointer;
}
/*contact page*/

.info {
  color: #fff;
  margin-left: 650px;
  margin-top: 95px;
  float: right;
  padding: 1em;
}

.tv-left {
  right:30%;
  margin-left: 650px;
  margin-top: -25px;
  float: right;
  padding: 1em;
}

/*about page*/

.about {
  color: #fff;
  margin-top: 148px;
  margin-left: 50px;
}

/*signin page*/

.form__input {
  display: block;
  color: #fff;
  margin-bottom: 0.5em;
}
.form__input--medium {
  display: block;
  color: #fff;
  margin-bottom: 0.5em;
  width: 85%;
}
.form__input--smaller {
  display: block;
  color: #fff;
  margin-bottom: 0.5em;
  width: 70%;
}
.form {
  color: #fff;
  margin-top: 150px;
  margin-left: 80px;
}

.body-link {
  margin-left: 5em;
}
/*Categories Page*/

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  margin-top: 14%;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 2.5em;
}
.container-child {
  padding: 0.5em;
  text-align: center;
}
.container p {
  color: #fff;
  font-size: small;
}

.container-img {
  width: 100%;
  height: 55%;
}

/* Checkout page */

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.box {
  width: 350px;
  float: right;
  margin-right: 2.5em;
  margin-top: 1em;
}
.upper-box {
  width: 100%;
  background-color: #d9d9d9;
  padding: 1em;
  text-align: center;
}
.bottom-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #9e7000;
}
.bottom-box div {
  padding: 1em;
}
.spacing {
  margin-top: 1em;
}
.dark-link {
  background-color: #000000;
  display: block;
  border: 1px solid black;
  color: #ffffff;
  padding: 12px 34px;
  position: relative;
  margin-top: 1em;
  width: 100%;
  cursor: pointer;
  font-size: 15px;
  text-decoration: none;
  text-align: center;
  border-radius: 10px;
}

.dark-link:hover {
  border: 1px solid #fffbf8;
  background: gray;
  transition: 0.5s;
}

.box-img {
  width: 150px;
}

/*movieinfo page*/

.movieinfo {
  color: #fff;
  font-size: smaller;
  margin-top: 150px;
  margin-left: 50px;
  padding: 1em;
  width: 55%;
}

.info-img {
  width: 200px;
  position: fixed;
  top: 25%;
  left: 65%;
  bottom: 5%;
}

.buy__button {
  display: block;
  border: 1px solid black;
  background-color: #9e7000;
  color: #ffffff;
  padding: 12px 34px;
  position: relative;
  width: 30%;
  cursor: pointer;
  font-size: 15px;
  text-decoration: none;
  text-align: center;
  border-radius: 10px;
  margin-top: 1em;
}

.buy__button:hover {
  border: 1px solid #fffbf8;
  background: #000000;
  transition: 0.5s;
}

/* Success Page */

.tv__success {
  width: 250px;
  position: fixed;
  left: 65%;
  top: -5%;
}

.success {
  color: #fff;
  font-size: xx-large;
  margin-top: 148px;
  margin-left: 60px;
}

.title {
  padding-left: 10%;
}

.shop {
  padding-top: 1em;
  padding-left: 12%;
  font-size: medium;
}

/* Media queries */
/* For large tablets */
@media (max-width: 992px) {
  .container {
    width: 33.333333%;
  }
}
/* For small tablets */
@media (max-width: 768px) {
  .container {
    margin-top: 10em;
  }
  .cta {
    width: 50%;
  }
  .spacing-top {
    margin-top: 5em;
  }
  .tv {
    margin-top: 5em;
  }
}
/* For smartphones */
@media (max-width: 420px) {
  .container {
    width: 100%;
    flex: auto;
  }
  .cta {
    width: 50%;
  }
  .spacing-top {
    margin-top: 20em;
  }
  .tv {
    margin-top: 10em;
  }
  .container {
    margin-top: 10em;
  }
}
.header {
  display: flex;
  flex-direction: column;
}

.container-child {
  display: flex;
  flex-direction: row
}
